# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# Streamlit
.streamlit/

# Secrets
*.env
update_env.py

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Data and outputs
data/
output/
